<h1>Editing Talk Speaker</h1>

<%= render 'form', talk_speaker: @talk_speaker, class:'btn btn-success' %>

<%= link_to 'Show', @talk_speaker, class:'btn btn-sm btn-outline-warning' %>
<%= link_to 'Back', talk_speakers_path, class:'btn btn-sm btn-outline-secondary' %>
