<div class="collapse navbar-collapse show" id="navbarWithDropdown">
  <ul class="navbar-nav">
    <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-secondary " href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span style="color:white"><strong><%#= current_user.last_name %> </strong><%= current_user.username %></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-outline-primary" %></li>
          <hr>
          <li><%= link_to 'Log Out', destroy_user_session_path, class: "btn btn-outline-danger",  method: :delete  %></li>
        </ul>
      </li>
    <% else %>
      <%= link_to 'Log In', new_user_session_url, class: 'btn btn-outline-success' %>
    <% end %>
  </ul>
</div>
