<h1>Editing Event</h1>

<%= render 'form', event: @event, class:'btn btn-success' %>

<%= link_to 'Show', @event, class:'btn btn-sm btn-outline-warning' %>
<%= link_to 'Back', events_path, class:'btn btn-sm btn-outline-secondary' %>
